.foot{
    text-align: center;
    background-color: #343a40;
    color:white;
    font-weight:bold;
    
    
}

i{
    color: white;
}
i:hover{
    color: #343a40;
    background-color: white;
}

.footer{
    left-margin:0 auto;
    right-margin:0 auto;
    color: #fff;
}